*{
    font-weight: 35px;
    background: black;
    color: white;    
}
body{
    display: flex;
    flex-direction: column;    
    height: 100vh;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    background: rgb(244, 248, 225);
    color: blue;
    font-size: max(2.5vw,20px);
}
.dinamicContent{
    display: grid;    
    
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;    
    height: 800px;
    background: white;
    color: rgb(195, 195, 250);
}
.textFooter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start;
    text-align: left;
    margin-top: auto;    
    padding-left: 0;
    margin-left: 0;
    background:  rgb(244, 248, 225);
    color: rgb(20, 22, 21);
}
/*projects navigation*/
.projectsColClass{
    display: flex;
    flex-direction: column;  
    align-items: center;  
    height: auto;
    background: rgb(61, 61, 116);
    overflow: scroll;
}
.titleName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-size: max(1.5vw,20px);
    font-weight: bold;
    background: transparent;
    color:rgb(248, 239, 113);
    margin-top: 5px;
}
.projectCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
    width: 80%;
    height: 70px;
    border-radius: 5px;
    background: rgb(255, 196, 0);
    color:black;
    padding-top: 10px;
    margin-top:15px;
    font-size: 15px;
    text-align: left; 
    box-shadow: 0px 0px 15px 0px black;
}

.projectButtons{
    display: flex;
    flex-direction: row;
    background: transparent;
    width: 100%;
    border-radius: 5px;
    justify-content: space-around;
    padding-bottom: 0;
    margin-bottom: 0;
}

.buttonAddProject{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 25px;
    border-radius: 15px;
    background: rgb(243, 228, 143);
    color:black;
    padding-top: 10px;
    margin-top:15px;
    text-align: center;
    box-shadow: 0px 0px 15px 0px black;
}
.buttonAddProject:hover,.buttonRemoveProject:hover{
    background: rgb(92, 86, 54);
}

.buttonRemoveProject{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 20px;
    border-radius: 5px;
    background: rgb(243, 228, 143);
    color:black;
    padding-top: 5px;
    margin-top:15px;
    text-align: center;
}

.innerRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
}
.formsFormulary{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    background: gray;
    text-align: center;
    box-shadow: 0px 0px 15px 0px black;
    margin-top: 30px;
    border-radius: 10px;
}

.labelsForms{
    background-color:transparent;
    color: black;
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    
}
.inputForms{
    background-color: rgb(182, 182, 182);
    color: black;
    font-size: 15px;
    width: 80%;
    margin-bottom: 10px;    
    
}

#okProject, #cancelProject,#cancelTask,#okTask{
    background: gold;
    color:black;
    border-radius:15px;
    height: 30px;
    width: 100px;
    font-weight: bold;
    box-shadow: 0px 0px 15px 0px black;
}


.allTasks{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background: gray;
    text-align: center;
    box-shadow: 0px 0px 15px 0px black;
    margin-top: 30px;
    overflow: scroll;

}
.titleProjectName{
    display:flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
    color:black;
    background: rgb(139, 168, 96);
    margin-left: 5%;
    margin-right: 5%;    
    font-weight: bold;
}

.cardTask{
    display:flex;
    flex-direction: column;
    width: 90%;
    text-align: left;
    background: rgb(139, 168, 96);
    margin-top: 15px;
    
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    box-shadow: 0px 0px 15px 0px black;
    border-radius: 5px;
}
.card_title{
    display:flex;
    font-size: medium;
    color:blue;
    background:transparent;
    margin-bottom: 15px;
    font-weight: bold;
}
.card_text{
    display:flex;
    font-size: medium;
    color:black;
    background:transparent;
}
.buttonsTasks{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: transparent;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
    text-align: center;


}
.taskButton{
    display:flex;
   /* width: auto;*/
    background: rgb(243, 228, 143);
    color:black;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px black;    
    margin:5px;
    padding:3px;
    text-align: center;    
    justify-content: center;
    width: 100px;
}
.taskButton:hover{
    background: rgb(92, 86, 54);
}
.labelsChecks{
    display:flex;
    background: transparent;
    color:black;
}
.checkdone{
    display:flex;
    background: transparent;
    color:black;
}
.newButton{
    display:flex;    
    background: rgb(243, 228, 143);
    color:black;
    height: 25px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 0px black;    
    margin:5px;
    padding:3px;
    text-align: center; 
    width: 100px;   
    justify-content: center;
}
.newButton:hover{
    background: rgb(92, 86, 54); 
}
.topButtonsTasks{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 25%;
    padding-right:  25%;
    margin-top: 15px;
    justify-content: space-around;
    background: transparent;
}

.formsTask{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background: gray;
    width: 100%;
    font-size: 28px;
    color: black;
    border-style: solid;
    border-width: 2px;
    padding-top:10px;
    padding-bottom:10px;

}
.taskForm{
    display:flex;
    width: 100%;

}
.titleTaskName{
    display: flex;
    background: gray;
    color: black;
}

.labelsTaskForms{
    display:flex;
    justify-content: space-around;
    text-align: center;
}
.taskButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: transparent;
    justify-content: space-around;    
}
.inputTaskDueDate{ 
    background: transparent;
}