*{
    font-weight: 35px;
    background: black;
    color: white;    
}
body{
    display: flex;
    flex-direction: column;    
    height: 100vh;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    background: rgb(231, 110, 110);
    color: blue;
}
.dinamicContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 800px;
    background: white;
    color: blue;
}
.textFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: auto;    
    color: aquamarine;
}